<app-navigation-bar/>

<div id="content">
    <div class="breaker"></div>

    <div class="settingssection">
        <h2><b>Display</b></h2>
        <p>Display tips on the front page: 
            <input #checkDisplay  name="checkDisplay" (change)="onCheckedChange(checkDisplay.checked)" type="checkbox" *ngIf="!isDisplayChecked"/>
            <input #checkDisplay  name="checkDisplay" (change)="onCheckedChange(checkDisplay.checked)" type="checkbox" *ngIf="isDisplayChecked" checked/>
        </p>
        <h2><b>Thèmes</b></h2>
        <select #themeList (change)="onThemeChange(themeList.value)">
            <option value="light" *ngIf='!isCurrentThemeEqual("light")'>Clair</option>
            <option value="light" *ngIf='isCurrentThemeEqual("light")' selected>Clair</option>
            <option value="dark" *ngIf='!isCurrentThemeEqual("dark")'>Sombre</option>
            <option value="dark" *ngIf='isCurrentThemeEqual("dark")' selected>Sombre</option>
        </select>
    </div>
</div>

<app-footer/>