<app-navigation-bar></app-navigation-bar>
<div id="container">

    <div *ngIf="!hasReceivedInfo()" id="content">
        <h2>Chargement des informations...</h2>
    </div>


    <div *ngIf="hasReceivedInfo()"  id="content">
        <form #f = "ngForm" (ngSubmit)="submit()">
            <label>Titre :</label>
            <input type="text" name = "title" #name = "ngModel" [(ngModel)]="form.title" required/>
            <br>
            <div *ngIf="name.errors?.['required']" class="warning">
                <h2>Un titre est nécessaire.</h2>
            </div>
            <br>
            <br>
            <input *ngIf="!name.errors?.['required']" input type="submit" value="Modifier le contexte"/>
        </form>

        <br>
        <br>

        <button (click)="deleteContext()"><img src="assets/images/bin.png" alt="Icône poubelle"/> Supprimer le contexte</button>        
    </div>
</div>
<app-footer></app-footer>