<app-navigation-bar/>
<div id="container">
    <div id="content">
        <div id="welcomebox">
            <h2><img src="assets/images/page.png" alt="Icône de page" />Bienvenue sur TaskStep !</h2>
            <p>Bonjour, et bienvenue sur Taskstep. Taskstep est conçu pour vous aidez avec vos tâches quotidiennes, 
                à long terme ou des listes en général, en les organisant vaguement à la <a href="https://gettingthingsdone.com/">GTD</a> avec des contextes et des projets.
            </p>
            <br>
            <p>
                Pour ceux d'entre vous qui ne connaissent pas le principe, tout ce qui nécessite plus d'une action/étape est un projet. 
                Un contexte est l'endroit où vous ferez l'action, par exemple, sur votre ordinateur.
            </p>
            <br>
            <p><img src="assets/images/chart_bar.png" alt="Icône de graphique"/> Il y a actuellement {{TaskLeft}} tâches restantes.</p>
        </div>
        <div id="immediateblock">
            <div *ngIf="!DataIsLoad()">
                <h2>Chargement des données...</h2>
            </div>
            <div *ngIf="DataIsLoad()">
                <h2><img src="assets/images/lightning.png" alt="Icône d'éclair" /> Immédiat ({{DataNumber}})</h2>
                <div *ngFor="let item of AllItem" class="immediateitem">
                    <div *ngIf="!item.Done">
                        <a href="" onclick="return false;" (click)="doneItem(item)"><img class="valign" src="assets/images/undone.png"/></a>
                        <a href="" onclick="return false;" (click)="editItem(item)">{{item.Title}}</a>
                        | {{item.Date}} | {{item.Context.Title}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="message">
            <div *ngIf='type == "confirmation"' class="confirmation">
                <p><img src="assets/images/accept.png" alt="Icône de confirmation"/>{{message}}</p>
            </div>
            <div *ngIf='type == "warning"' class="warning" alt="Icône d'alerte">
                <p><img src="assets/images/exclamation.png"/>{{message}}</p>
            </div>
        </div>
        <div  *ngIf="ShowTips" id="tipsbox">
            <h2><img src="assets/images/information.png" alt="Icône information"/> Conseil :</h2>
            <p [innerHTML]="Tips"></p>
        </div>
    </div>
</div>
<app-footer/>