<div id="container">
    <div id="loginbox">
        <h1><img src="assets/images/icon.png" alt="" /> TaskStep</h1>
        <div *ngIf="message">
            <div *ngIf='type == "confirmation"' class="confirmation">
                <p><img src="assets/images/accept.png"/>{{message}}</p>
            </div>
            <div *ngIf='type == "warning"' class="warning">
                <p><img src="assets/images/exclamation.png"/>{{message}}</p>
            </div>
        </div>
        <p><img src="assets/images/shield.png" alt="images de bouclier" /> <br>Veuillez saisir votre ancien et nouveau mot de passe.</p>
        <form #f = "ngForm" (ngSubmit)="submit()">

            <label>Ancien mot de passe</label>
            <br>
            <input type="password" name = "confirmpassword" #password = "ngModel" [(ngModel)]="form.password1"/>
            <br>
            <div *ngIf="HasError" class="warning">
                <h2>Le mot de passe est incorrect.</h2>
            </div>
            <br>
            <label>Nouveau mot de passe</label>
            <br>
            <input type="password" name = "password" #confirmPassword = "ngModel" [(ngModel)]="form.password2" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
            <br>
            <div *ngIf="confirmPassword.errors?.['required']" class="warning">
                <h2>Un mot de passe est nécessaire.</h2>
            </div>
            <div *ngIf="confirmPassword.errors?.['pattern']" class="warning">
                <h2>Votre mot de passe doit contenir au minimum 8 lettres avec une lettre, un chiffre et un caractère spécial.</h2>
            </div>
            <br>

            <input *ngIf="!confirmPassword.errors?.['required'] && !confirmPassword.errors?.['pattern'] " type="submit" name="submit" value="Changer de mot de passe"/>
        </form> 
    </div>
</div>
<app-footer/>