<app-navigation-bar></app-navigation-bar>
<div id="container">
    <div id="content">
        <div id='editlist'>
            <h2>{{Title}}</h2>
            <div *ngIf="message">
                <div *ngIf='type == "confirmation"' class="confirmation">
                    <p><img src="assets/images/accept.png" alt="Icône de confirmation"/>{{message}}</p>
                </div>
                <div *ngIf='type == "warning"' class="warning" alt="Icône d'alerte">
                    <p><img src="assets/images/exclamation.png"/>{{message}}</p>
                </div>
            </div>
            <a class="listlinkssmart" routerLink="/addproject"><img src="assets/images/add.png" alt=""/> Ajouter un projet</a>
            <div *ngIf="!IsEditing">
                <a href="" onclick="return false;" (click)="goItem(project.Id, project.Title)"  *ngFor="let project of Projects" class="listlinkssmart"><img src="assets/images/project.png" alt="SexyBG"/> {{project.Title}}</a>
            </div>
            <div *ngIf="IsEditing">
                <a href="" onclick="return false;" *ngFor="let project of Projects" class="listlinkssmart" (click)="goEditMode(project.Id)"><img src="assets/images/pencil.png" alt="Images crayon"/> {{project.Title}}</a>
            </div>

            <a href="" onclick="return false;" *ngIf="!IsEditing" class="listlinkssmart" (click)="setEditMode()"><img src="assets/images/project_edit.png" alt="Images edit project"/> Edtier un projet</a>
        </div>
    </div>
</div>
<app-footer></app-footer>