<app-navigation-bar></app-navigation-bar>
<div id="content">
    <div id='editlist'>
        <h2>Choissisez un contexte pour afficher les tâches qui lui sont liés. Vous pouvez aussi ajouter/éditer un contexte.</h2>
        <div *ngIf="message" class="confirmation">
            <p><img src="assets/images/accept.png"/>{{message}}</p>
        </div>
        <a class="listlinkssmart" routerLink="/addcontext"><img src="assets/images/add.png"/> Ajouter un contexte</a>
        <a *ngFor="let context of Contexts" class="listlinkssmart"><img src="assets/images/context.png"/> {{context.Title}}</a>
        <a class="listlinkssmart"><img src="assets/images/context_edit.png"/> Edtier un contexte</a>
    </div>
</div>
<app-footer></app-footer>