<app-navigation-bar></app-navigation-bar>

    <div id="container">
        <div id="content">

            <div *ngIf="message">
                <div *ngIf='type == "confirmation"' class="confirmation">
                    <p><img src="assets/images/accept.png" alt="Icône confirmation"/>{{message}}</p>
                </div>
                <div *ngIf='type == "warning"' class="warning">
                    <p><img src="assets/images/exclamation.png" alt="Icône alerte"/>{{message}}</p>
                </div>
            </div>

            <div id="sectiontitle"><h1> {{Section}} </h1></div>
                <div class="sortform">
                    <p>
                        <span class="printer">
                            <a (click)="Print()" > </a>
                        </span>
                    </p>
                    <form class="sortform">
                        Sort items by:
                        <select>
                            <option value="title">Title</option>
                            <option value ="date">Date</option>
                            <option value="context">Context</option>
                            <option value="project">Project</option>
                            <option value="Done">Done</option>
                        </select>
                        <input type="submit" value="Sort"/>
                    </form>
                    <br>
                    <div class="inform" *ngFor="let item of ListItems">
                        <img src='assets/images/information.png' alt='' /> 
                        {{item.Title}}
                        <div *ngIf="item.Done" style="text-decoration:line-through;">
                            <span *ngIf="item.DueDate != null"> | {{item.DueDate.toDateString()}} </span>
                            <span > | {{item.Context.Title}}  </span>
                            <span > | {{item.Project.Title}}  </span>
                            <a href="" onclick="return false;" class = "actionicon" (click)="deleteItem(item)"><img src="assets/images/bin_empty.png"/></a>
                            <a href="" onclick="return false;" class = "actionicon" (click)="editItem(item)"><img src="assets/images/pencil.png"/></a>
                            <a href="" onclick="return false;" *ngIf="!item.Done" class = "actionicon" (click)="doneItem(item)"><img src="assets/images/undone.png"/></a>
                            <a href="" onclick="return false;" *ngIf="item.Done" class = "actionicon" (click)="doneItem(item)"><img src="assets/images/accept.png"/></a>
                            <p *ngIf="item.Note != null">{{item.Note}}</p>                             
                            <p *ngIf="item.Url != null">{{item.Url}}</p>
                        </div>
                        <div *ngIf="!item.Done">
                            <span *ngIf="item.DueDate != null"> | {{item.DueDate.toDateString()}} </span>
                            <span > | {{item.Context.Title}}  </span>
                            <span > | {{item.Project.Title}}  </span>
                            <a href="" onclick="return false;" class = "actionicon" (click)="deleteItem(item)"><img src="assets/images/bin_empty.png"/></a>
                            <a href="" onclick="return false;" class = "actionicon" (click)="editItem(item)"><img src="assets/images/pencil.png"/></a>
                            <a href="" onclick="return false;" *ngIf="!item.Done" class = "actionicon" (click)="doneItem(item)"><img src="assets/images/undone.png"/></a>
                            <a href="" onclick="return false;" *ngIf="item.Done" class = "actionicon" (click)="doneItem(item)"><img src="assets/images/accept.png"/></a>
                            <p *ngIf="item.Note != null">{{item.Note}}</p>                             
                            <p *ngIf="item.Url != null">{{item.Url}}</p>
                        </div>
                    </div>           
                </div>
            <div>
            </div>
        </div>
    </div>

<app-footer></app-footer>