
<div id="container">
    <div id="loginbox">
        <h1><img src="assets/images/icon.png" alt="Icone" /> TaskStep</h1>
        <p><img src="assets/images/shield.png" alt="icone de bouclier" /> <br>Veuillez saisir vos informations.</p>
        <form #f = "ngForm" (ngSubmit)="submit()">
            <label>Adresse mail</label>
            <br>
            <input type="email" name = "mail" #mail = "ngModel" [(ngModel)]="form.mail" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
            <br>
            <div *ngIf="mail.errors?.['required']" class="warning">
                <h2>Un email est nécessaire.</h2>
            </div>
            <div *ngIf="mail.errors?.['pattern']" class="warning">
                <h2>Votre email n'est pas correcte.</h2>
            </div>
            <br>
            <label>Mot de passe</label>
            <br>
            <input type="password" name = "password" #password = "ngModel" [(ngModel)]="form.password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
            <br>
            <div *ngIf="password.errors?.['required']" class="warning">
                <h2>Un mot de passe est nécessaire.</h2>
            </div>
            <div *ngIf="password.errors?.['pattern']" class="warning">
                <h2>Votre mot de passe doit contenir au minimum 8 lettres avec une lettre, un chiffre et un caractère spécial</h2>
            </div>
            <br>
            <label>Confirmer le mot de passe</label>
            <br>
            <input type="password" name = "confirmpassword" #confirmpassword = "ngModel" [(ngModel)]="form.confirmPassword"/>
            <br>
            <div *ngIf="!isPasswordCorrect()" class="warning">
                <h2>Les mots de passe ne sont pas identiques</h2>
            </div>
            <br>



            <input *ngIf="!mail.errors?.['required']
            && !mail.errors?.['pattern'] && !password.errors?.['required'] &&
            !password.errors?.['pattern'] && isPasswordCorrect()"  type="submit" name="submit" value="Créer mon compte"/>
        </form> 

        <p><a href="" onclick="return false;" routerLink="/login" >J'ai déjà un compte</a></p>

    </div>
</div>
<app-footer/>